__pycache__/
*.pyc

.ipynb_checkpoints/

*.h5
*.keras

.env

*.log

output_class0/
output_class1/
output_class2/
output_class3/

generated_yaml_class_0/
generated_yaml_class_1/
generated_yaml_class_2/
generated_yaml_class_3/
